<header class="w-full z-10 fixed">
    <nav class="p-5 bg-orange-500 flex justify-between items-center shadow-xl">
        <p class="mx-5 text-white text-xl font-semibold hover:text-slate-800">
            <a href="/" class="no-underline">MAUSAM</a>
        </p>
        <ul class="list-none text-white flex">
            <li class="mx-5 text-xl font-semibold cursor-pointer hover:text-slate-800">
                <a href="/" class="no-underline">Home</a>
            </li>
            <li class="mx-5 text-xl font-semibold cursor-pointer hover:text-slate-800">
                <a href="/about" class="no-underline">About</a>
            </li>
            <li class="mx-5 text-xl font-semibold cursor-pointer hover:text-slate-800">
                <a href="/weather" class="no-underline">Weather</a>
            </li>
        </ul>
    </nav>
</header>